%h3 Datos de Facturación
%br
%br
%span Estimado usuario/a, al momento de ingresar los siguientes datos el sistema de Receptivo Colombia, creará un usuario con los siguientes datos y le enviaremos un correo con la información que detalle a continuación:

- if user_signed_in?
  .row
    .col-lg-6
      .form-group.form-custom
        %label{for: "name"} Nombre
        %input#name_user.form-control{disabled: 'disabled', value: current_user.name}/
      .form-group
        %label{for: "phone"} Teléfono
        %input#phone_user.form-control{disabled: 'disabled', value: current_user.phone}/
    .col-lg-6
      .form-group.form-custom
        %label{for: "dni"} Identificación
        %input#dni_user.form-control{disabled: 'disabled', value: current_user.dni}/
      .form-group
        %label.title{for: "email"} Correo electrónico
        %input#email_user.form-control{disabled: 'disabled', value: current_user.email}/
    .col-lg-12
      .form-group
        %label{for: ""}  Dirección de Facturación
        %textarea{placeholder: 'Ingrese dirección de facturación', id: "", name: "invoice[][address]", rows: "4", style:"width: 100%;"}
- else
  .row
    .col-lg-6
      .form-group.form-custom
        %label{for: "name"} Nombre
        %input#name_user.form-control{name: 'user[][name]', type: "text", placeholder: "Ingrese nombre"}/
      .form-group
        %label{for: "phone"} Teléfono
        %input#phone_user.form-control{name: 'user[][phone]', type: "text", placeholder: "Ingrese teléfono"}/
    .col-lg-6
      .form-group.form-custom
        %label{for: "dni"} Identificación
        %input#dni_user.form-control{name: 'user[][dni]', type: "text", placeholder: "Ingrese identificación"}/
      .form-group
        %label{for: "email"} Correo electrónico
        %input#email_user.form-control{name: 'user[][email]', type: "email", placeholder: "Ingrese correo electrónico"}/
    .col-lg-12
      .form-group
        %label{for: "address"}  Dirección de Facturación
        %textarea{placeholder: 'Ingrese dirección de facturación', id: "", name: "invoice[][address]", rows: "4", style:"width: 100%;"}
