%h3 Términos y Condiciones
.row
  .col-lg-12
    .separator__mobile.hidden-lg
    .form-group.form-custom
      .checkbox.checkbox-blue.checkbox-inline
        %input#terms_conditions.styled{name: 'terms_conditions', :type => "checkbox", :value => "agree"}/
        %label.check{:for => "terms_conditions"} 
          Acepto
          = succeed "." do
            = link_to 'Términos y Condiciones', '#' , :class => '', :id => 'js_termsConditions', :type => 'button'