%h3 Solicitudes/Observaciones
.row
  .col-lg-12
    .form-group.form-custom{style:"margin-bottom: 0px;"}
      %label{:for => ""} Observaciones
      %textarea.custom_input{placeholder: 'Solicitudes/Observaciones', id: "", name: "reservation[description]", rows: "4", style:"width: 100%;"}


-#.col-lg-12
  .row
    .col-lg-12
      .form-group
        %label{:for => ""}  Detalles del Traslados (Observaciones)
        %textarea{placeholder: 'Introduce tus observaciones del traslado y más detalles que nos quieras acotar', :id => "", :name => "reservation[description]", :rows => "4", style:"width: 100%;"}
  // End --- Inputs informacion de vuelo aeropuerto