.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %strong= t('receptivo.dashboard.table.description')
      .panel-body
        .table-responsive
          %table.table.table-condensed
            %thead
              %tr
                %td
                  %strong= t('receptivo.dashboard.table.concept')
            %tbody
              %tr
                %td Tu precio ser치 cotizado por los administradores. Recibir치s una notificaci칩n en tu e-mail con toda la informaci칩n de la reserva y el pago.
.row
  .col-lg-12
    .invoice-transfers__box--payment
      %input#button.about-view.travel-btn{:name => "button", :type => "submit", :value => "Solicitar Reserva"}/
