.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %strong Descripción
      .panel-body
        .table-responsive
          %table.table.table-condensed
            %thead
              %tr
                %td
                  %strong Concepto
                %td.text-center
                  %strong Precio
                %td.text-center
                  %strong Cantidad
                %td.text-right
                  %strong Total
            %tbody
              %tr
                %td= @reservationable['title'][@lang]
                %td.text-center= number_to_currency(@reservationable.set_price_destination(@locality[0], @currency).to_f, locale: @locale)
                %td.text-center= @multiple
                %td.text-right= number_to_currency(@price_total, locale: @locale)
.row
  .col-lg-12
    .invoice-transfers__box--payment
      %input#button.about-view.travel-btn{:name => "button", :type => "submit", :value => "Pagar Reserva"}/
