-#%hr
%h3 Alojamiento
.row
  .col-lg-12
    .box-hotel-room
      %h4 Hoteles disponibles
  - @circuit.circuitables.each do |circuitable|
    - if circuitable.status
      .col-lg-2
        %label.btn.btn-room
          %center
            .icon-room{:style => "background-image: url(/assets/img/hotel.svg)"}
              %input.room.js-hotelRoom{:name => "hotel1", :type => "checkbox", :value => circuitable.lodgment_id}/
          %p= circuitable.lodgment.title[@lang]
.row
  .col-lg-12
    .box-type-room
      %h4 Tipo de Habitación
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.type-room.js-typeRoom{:name => "", :type => "checkbox", :value => "kids"}/
        %p Habitación
        %p Simple
      .quantity-type-room.js-quantityRoom.quantity-disabled
        .quantity-room
          %input{:name => "", :type => "number", :value => ""}/
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.type-room.js-typeRoom{:name => "", :type => "checkbox", :value => "kids"}/
        %p Habitación
        %p Doble
      .quantity-type-room.js-quantityRoom.quantity-disabled
        .quantity-room
          %input{:name => "", :type => "number", :value => ""}/
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.type-room.js-typeRoom{:name => "", :type => "checkbox", :value => "kids"}/
        %p Habitación
        %p Triple
      .quantity-type-room.js-quantityRoom.quantity-disabled
        .quantity-room
          %input{:name => "", :type => "number", :value => ""}/
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.type-room.js-typeRoom{:name => "", :type => "checkbox", :value => "kids"}/
        %p Habitación
        %p Cuadruple
      .quantity-type-room.js-quantityRoom.quantity-disabled
        .quantity-room
          %input{:name => "", :type => "number", :value => ""}/
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.type-room.js-typeRoom{:name => "", :type => "checkbox", :value => "kids"}/
        %p Habitación
        %p Quintuple
      .quantity-type-room.js-quantityRoom.quantity-disabled
        .quantity-room
          %input{:name => "", :type => "number", :value => ""}/

  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.type-room.js-typeRoom{:name => "", :type => "checkbox", :value => "kids"}/
        %p Habitación
        %p Sextuple
      .quantity-type-room.js-quantityRoom.quantity-disabled
        .quantity-room
          %input{:name => "", :type => "number", :value => ""}/

  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.type-room.js-typeRoom{:name => "", :type => "checkbox", :value => "kids"}/
        %p Habitación
        %p Niño
      .quantity-type-room.js-quantityRoom.quantity-disabled
        .quantity-room
          %input{:name => "", :type => "number", :value => ""}/


        
:javascript


  $( '.js-hotelRoom' ).on( 'click', function() {
    if( $(this).is(':checked') ){
        $(this).addClass('js-hotel-active');
        $(this).closest('label').addClass('bg-active');
    } else {
        $(this).removeClass('js-hotel-active');
        $(this).closest('label').removeClass('bg-active');
    }
  });
  $( '.js-typeRoom' ).on( 'click', function() {
    if( $(this).is(':checked') ){
        $(this).addClass('js-room-active');
        $(this).closest('label').addClass('bg-active');
        $(this).closest('label').parent().find('.quantity-type-room').removeClass('quantity-disabled').addClass('quantity-active');
    } else {
        $(this).closest('label').removeClass('bg-active');
        $(this).removeClass('js-room-active');
        $(this).closest('label').parent().find('.quantity-type-room').removeClass('quantity-active').addClass('quantity-disabled');
    }  
  });

