-#%hr
%h3 Política de Privacidad
.row
  .col-lg-12
    .form-custom
    .form-group
      
      -#%label.checkbox-inline
        %input{name: 'privacy_policy', :type => "checkbox", :value => "agree"}/
        Acepto
        = succeed "." do
          = link_to 'Política de Privacidad', '#' , :class => '', :id => 'js_privacyPolicy', :type => 'button'

      .checkbox.checkbox-primary.checkbox-inline
        %input#privacy_policy.styled{name: 'privacy_policy', :type => "checkbox", :value => "agree"}/
        %label{:for => "privacy_policy"} 
          Acepto
          = succeed "." do
            = link_to 'Política de Privacidad', '#' , :class => '', :id => 'js_privacyPolicy', :type => 'button'