-#%hr
%h3 Alojamiento
.row
  .col-lg-12
    .box-hotel-room
      %h4 Hoteles disponibles
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel.svg)"}
          %input.js-hotel-room{:name => "hotel1", :type => "checkbox", :value => "Gran Hotel'"}/
      %p Gran Hotel
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel.svg)"}
          %input.js-hotel-room{:name => "hotel2", :type => "checkbox", :value => "Conquest"}/
      %p Conquest
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel.svg)"}
          %input.js-hotel-room{:name => "hotel3", :type => "checkbox", :value => "Ibis"}/
      %p Ibis
.row
  .col-lg-12
    .box-type-room
      %h4 Tipo de Habitación
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.js-type-room{:name => "", :type => "checkbox", :value => "simple"}/
      %p Habitación
      %p Simple
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.js-type-room{:name => "", :type => "checkbox", :value => "double"}/
      %p Habitación
      %p Doble
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.js-type-room{:name => "", :type => "checkbox", :value => "triple"}/
      %p Habitación
      %p Triple
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.js-type-room{:name => "", :type => "checkbox", :value => "quadruple"}/
      %p Habitación
      %p Cuadruple
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.js-type-room{:name => "", :type => "checkbox", :value => "quintuple"}/
      %p Habitación
      %p Quintuple
  .col-lg-2
    %label.btn.btn-room
      %center
        .icon-room{:style => "background-image: url(/assets/img/hotel-room.svg)"}
          %input.js-type-room{:name => "", :type => "checkbox", :value => "quintuple"}/
      %p Habitación
      %p Niño

:javascript

  $( '.js-hotel-room' ).on( 'click', function() {
      if( $(this).is(':checked') ){
          $(this).addClass('js-hotel-active');
          $(this).closest('label').addClass('btn-default');
      } else {
          $(this).removeClass('js-hotel-active');
          $(this).closest('label').removeClass('btn-default');
      }
  });

  $( '.js-type-room' ).on( 'click', function() {
      if( $(this).is(':checked') ){
          $(this).addClass('js-room-active');
          $(this).closest('label').addClass('btn-default');
      } else {
          $(this).removeClass('js-room-active');
          $(this).closest('label').removeClass('btn-default');
      }  
  });
