-#%hr
%h3 Solicitues/Observaciones
.row
  .col-lg-12
    .form-group.form-custom{style:"margin-bottom: 0px;"}
      %textarea{placeholder: 'Observaciones/Solicitudes', id: "", name: "invoice[][address]", rows: "4", style:"width: 100%;"}


