= search_form_for @q, url: "/#{@lang}/#{@currency}/vehicles", html: {class: 'input-group', style:'width: 100%;' ,id: 'search-input', method: :get } do |f|
    .box-transfers
        .row
            - unless KepplerTravel::Vehicle.count.positive?
                .col-lg-12
                    %h5.text-center{style:"color: #4e4e56 !important"} ¡Disculpe! No se encuentran traslados disponible.
            - else
                %input#round_trip{name: 'round_trip', type: 'hidden'}
                .col-lg-12.hidden-xs
                    .trip-circle
                        .single-trip-circle
                            %input#ida_vuelta.radio-fecha-vuelos{:name => "ida_o_vuelta", :type => "radio"}/
                            %label.ida_vuelta{:for => "ida_vuelta"}
                                %span.round-boarder
                                    %span.round-boarder1
                                Ida y vuelta
                        .single-trip-circle
                            %input#solo_ida.radio-fecha-vuelos{:name => "ida_o_vuelta", :type => "radio"}/
                            %label.solo_ida{:for => "solo_ida"}
                                %span.round-boarder>
                                    %span.round-boarder1
                                Solo ida
                .col-xs-12.visible-xs
                    .trip-circle.row{style:'display: block !important;'}
                        .col-xs-6
                            .single-trip-circle
                                %input#ida_vuelta.radio-fecha-vuelos{:name => "ida_o_vuelta", :type => "radio"}/
                                %label.ida_vuelta{:for => "ida_vuelta"}
                                    %span.round-boarder
                                        %span.round-boarder1
                                    Ida y vuelta
                        .col-xs-6
                            .single-trip-circle
                                %input#solo_ida.radio-fecha-vuelos{:name => "ida_o_vuelta", :type => "radio"}/
                                %label.solo_ida{:for => "solo_ida"}
                                    %span.round-boarder>
                                        %span.round-boarder1
                                    Solo ida
                .col-lg-5
                    .box-item
                        %h2 Origen
                        %input.google-input.form-control{id: 'origin_name', name: 'origin_name'}
                        %input{name: 'origin_location', id: 'origin_location', type: 'hidden'}
                        %input{name: 'origin_locality', id: 'origin_locality', type: 'hidden'}
                        %input{name: 'origin_departament', id: 'origin_departament', type: 'hidden'}
                        %h2.origin_name Desde...

                .col-lg-2
                    .box-item
                        %h2 Fecha de Ida
                        .form-group
                            %input.form-control.custom-input{name: 'flight_origin_picker', id: 'flight_origin_picker', autocomplete: 'off'}/

                .col-lg-5
                    .box-item
                        %h2 Destino
                        %input.custom-input.form-control{id: 'arrival_name', name: 'arrival_name'}
                        %input{name: 'arrival_location', id: 'arrival_location', type: 'hidden'}
                        %input{name: 'arrival_locality', id: 'arrival_locality', type: 'hidden'}
                        %input{name: 'arrival_departament', id: 'arrival_departament', type: 'hidden'}
                        %h2.arrival_name Hasta...


                .col-xs-12.col-lg-12{style:'margin-top: 8px;'}
                    .row
                        .col-lg-9
                            .row
                                .col-lg-3#vuelo_vuelta
                                    .box-item
                                        %h2 Fecha de Vuelta
                                        .form-group
                                            %input.form-control.custom-input{name: 'flight_arrival_picker', id: 'flight_arrival_picker', autocomplete: 'off'}/

                                -# .col-lg-3
                                -#     .box-item
                                -#         %h2 Hora de Traslado (Ida)
                                -#         .form-group
                                -#             %input.form-control.custom-input{name: 'hour_origin_picker', id: 'hour_origin_picker', autocomplete: 'off'}/
                                -# .col-lg-3#hora_vuelta
                                -#     .box-item
                                -#         %h2 Hora de Traslado (Vuelta)
                                -#         .form-group
                                -#             %input.form-control.custom-input{name: 'hour_arrival_picker', id: 'hour_arrival_picker', autocomplete: 'off'}/

                                .col-xs-6.col-lg-2
                                    .box-item
                                        %h2 Adultos
                                        .form-group
                                            %input#adults.custom-input.form-control{min: 1, name: 'quantity_adults', value: 2, :type => "number"}/

                                .col-xs-6.col-lg-2
                                    .box-item
                                        %h2 Niños
                                        .form-group
                                            %input#kids.custom-input.form-control{min: 0, name: 'quantity_kids', :type => "number"}/

                        .col-lg-3
                            #errors
                            .about-btn.travel-mrt-0.pull-right.box-btn
                                %button.about-view.travel-btn{type: 'submit'}
                                    buscar

:javascript
    // Transfers / Vehicles
    validateWidgetForm('#search-input');
    $('#vuelo_vuelta').addClass('show-input');
    $('#ida_vuelta').prop('checked', true);
    $('#round_trip').val(true);
    $('.radio-fecha-vuelos').on( 'click', function() {
        if( $('#ida_vuelta').is(':checked') ){
                $('#round_trip').val(true);
                console.log($('#round_trip').val());
                $('#vuelo_vuelta').removeClass('hidden-input');
                $('#vuelo_vuelta').addClass('show-input');
                $('#hora_vuelta').removeClass('hidden-input');
                $('#hora_vuelta').addClass('show-input');
        } else {
                $('#round_trip').val(false);
                console.log($('#round_trip').val());
                $('#vuelo_vuelta').removeClass('show-input');
                $('#vuelo_vuelta').addClass('hidden-input');
                $('#hora_vuelta').removeClass('show-input');
                $('#hora_vuelta').addClass('hidden-input');
        }
    });

    $(document).ready(function() {

      $('form').keypress(function(e){
        if(e == 13){
          return false;
        }
      });

      $('input').keypress(function(e){
        if(e.which == 13){
          return false;
        }
      });

    });

    /*

    $( function() {

        // Functions by inputs datepicker transfers
        function populateEndDate() {
            var date2 = $('#flight_origin_picker').datepicker('getDate');
            date2.setDate(date2.getDate() + 1);
            $('#flight_arrival_picker').datepicker('setDate', date2);
            $("#flight_arrival_picker").datepicker("option", "minDate", date2);
        }

        $("#flight_origin_picker").datepicker({
            dateFormat: "dd-mm-yy",
            minDate: 1,
            onSelect: function(date) {
                populateEndDate();
                var date = $('#flight_origin_picker').val()
                $('#reservation_flight_origin').val(date);
            }
        }).datepicker("setDate", new Date());
        $('#flight_arrival_picker').datepicker({
            dateFormat: "dd-mm-yy",
            minDate: 2,
            onClose: function() {
                var dt1 = $('#flight_origin_picker').datepicker('getDate');
                var dt2 = $('#flight_arrival_picker').datepicker('getDate');
                if (dt2 <= dt1) {
                    var minDate = $('#flight_arrival_picker').datepicker('option', 'minDate');
                    $('#flight_arrival_picker').datepicker('setDate', minDate);
                }
                var date = $('#flight_arrival_picker').val()
                $('#reservation_flight_arrival').val(date);
            }
        }).datepicker("setDate", new Date());



        */
        // Functions by inputs datepicker transfers


        // Functions by inputs timepicker hour transfers
        // function populateEndTime() {
        //     var date2 = $('#hour_origin_picker').datepicker('getDate');
        //     date2.setDate(date2.getDate() + 1);
        //     $('#hour_arrival_picker').datepicker('setDate', date2);
        //     $("#hour_arrival_picker").datepicker("option", "minDate", date2);
        // }
        //
        // $("#hour_origin_picker").timepicker({
        //     dateFormat: "dd-mm-yy",
        //     minDate: 1,
        //     onSelect: function(date) {
        //         populateEndTime();
        //         var date = $('#hour_origin_picker').val()
        //         $('#reservation_hour_origin').val(date);
        //     }
        // }).timepicker("setDate", new Date());
        // $('#hour_arrival_picker').timepicker({
        //     dateFormat: "dd-mm-yy",
        //     minDate: 2,
        //     onClose: function() {
        //         var dt1 = $('#hour_origin_picker').timepicker('getDate');
        //         var dt2 = $('#hour_arrival_picker').timepicker('getDate');
        //         if (dt2 <= dt1) {
        //             var minDate = $('#hour_arrival_picker').timepicker('option', 'minDate');
        //             $('#hour_arrival_picker').timepicker('setDate', minDate);
        //         }
        //         var date = $('#hour_arrival_picker').val()
        //         $('#reservation_hour_arrival').val(date);
        //     }
        // }).timepicker("setDate", new Date());
        // Functions by inputs timepicker hour transfers



    //} );



    // $("#origin_name").focusin(function () {
    // 	$(document).keypress(function (e) {
    // 		if (e.which == 13) {
    // 			debugger;
    // 			var firstResult = $(".pac-container .pac-item:first").text();
    // 			var geocoder = new google.maps.Geocoder();
    // 			geocoder.geocode({"address":firstResult }, function(results, status) {
    // 			if (status == google.maps.GeocoderStatus.OK) {
    // 				var lat = results[0].geometry.location.lat(),
    // 				lng = results[0].geometry.location.lng(),
    // 				placeName = results[0].address_components[0].long_name,
    // 				latlng = new google.maps.LatLng(lat, lng);
    //
    // 				$(".pac-container .pac-item:first").addClass("pac-selected");
    // 				$(".pac-container").css("display","none");
    // 				$("#searchTextField").val(firstResult);
    // 				$(".pac-container").css("visibility","hidden");
    //
    // 				moveMarker(placeName, latlng);
    //
    // 			}
    // 			});
    // 		} else {
    // 			$(".pac-container").css("visibility","visible");
    // 		}
    //
    // 	});
    // });
    // $('.pac-container').find('.pac-item').first().attr('selected', true)
    // End --- Transfers / Vehicles
