#modalPrivate.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Política de Privacidad
      .modal-body
        -# %h4 Text in a modal
        %p= @setting.try("privacy_policies_#{@lang}".to_sym).html_safe
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
