%tr
  %th.hidden-xs Estatus Pago
  %th.hidden-xs Tour
  %th.hidden-xs Fecha de Reserva
  %th.hidden-xs.hidden-sm Cant. Adultos
  %th.hidden-xs.hidden-sm Cant. Niños
  %th.hidden-xs.hidden-sm Usuario
  %th.center Menu
  %th
