
%li.list-group-item.d-flex.justify-content-between
  %div
    %span
      Precio Total
    %strong{style:"float: right;"}
      ¡Por cotización!

      -# ¡Tu precio será por cotización!, recibirás una notificación de los administradores con el total a pagar.
.box-btn-payment
  %br/
  %span
    %p.text-center.title-reser ¡Solicita tu reserva!
  %br/
  %center
    .about-btn.travel-mrt-0
      %button.about-view.travel-btn.btn-reser Cotizar
