- if Rails.env.production? && @setting.google_analytics_setting.ga_status
	- if Script.get_script(request)
		- tracking = Script.get_script(request).script
	- unless tracking
		- tracking = @setting.google_analytics_setting.ga_tracking_id

/ Global site tag (gtag.js) - Google Analytics
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-128700644-1"}

:javascript
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-128700644-1');
