.single-travel-boxes
  #desc-tabs.desc-tabs
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation", :style => "border-top-left-radius: 5px;"}
        %a{"aria-controls" => "translation", "data-toggle" => "tab", :href => "#translation", :role => "tab", :style => "border-top-left-radius: 5px;"}
          %i.fa.fa-car
          Traslados
      %li{:role => "presentation"}
        %a{"aria-controls" => "circuits", "data-toggle" => "tab", :href => "#circuits", :role => "tab"}
          %i.fa.fa-train
          Circuitos
      %li{:role => "presentation"}
        %a{"aria-controls" => "tours", "data-toggle" => "tab", :href => "#tours", :role => "tab"}
          %i.fa.fa-map-o
          Tours
      %li{:role => "presentation", :style => "border-bottom-right-radius: 5px;"}
        %a{"aria-controls" => "multidestines", "data-toggle" => "tab", :href => "#multidestines", :role => "tab", :style => "border-bottom-right-radius: 5px;"}
          %i.fa.fa-plane
          Multidestinos
    .tab-content
      #translation.tab-pane.active.fade.in{:role => "tabpanel"}
        = search_form_for @q, url: "/#{@lang}/#{@currency}/transfers", html: {class: 'input-group', id: 'search-input', method: :get } do |f|
          .tab-para
            .row
              .col-lg-12
                .trip-circle
                  .single-trip-circle
                    %input#radio1.micheckbox{:name => "radio", :type => "radio"}/
                    %label{:for => "radio1"}
                      %span.round-boarder>
                        %span.round-boarder1
                      Solo ida
                  .single-trip-circle
                    %input#radio2.micheckbox{:name => "radio", :type => "radio"}/
                    %label{:for => "radio2"}
                      %span.round-boarder
                        %span.round-boarder1
                      Ida y vuelta

              .col-lg-6
                .single-tab-select-box
                  %h2 Origen
                  %input.google-input.form-control{id: 'origin_transfer', name: 'origin_transfer'}
                  %input{name: 'origin_hidden', id: 'origin_hidden', type: 'hidden'}

              .col-lg-6
                .single-tab-select-box
                  %h2 Destino
                  %input.custom-input.form-control{id: 'arrival_transfer', name: 'arrival_transfer'}
                  %input{name: 'arrival_hidden', id: 'arrival_hidden', type: 'hidden'}

              .col-lg-12
                %hr


              .col-lg-3
                .single-tab-select-box
                  %h2 Fecha de Ida
                  .form-group
                    %input#date_one.custom-input.form-control{name: 'date_one', :type => "date", :placeholder => "Enter date"}/

              .col-lg-3#date-input
                .single-tab-select-box
                  %h2 Fecha de Vuelta
                  .form-group
                    %input#date_two.custom-input.form-control{name: 'date_two', :type => "date", :placeholder => "Enter date"}/

              
              .col-lg-3
                .single-tab-select-box
                  %h2 Adultos
                  .form-group
                    %input#adults.custom-input.form-control{name: 'quantity_adults', :type => "number", :placeholder => "Enter number of adults"}/

              .col-lg-3
                .single-tab-select-box
                  %h2 Ni침os
                  .form-group
                    %input#kids.custom-input.form-control{name: 'quantity_kids', :type => "number", :placeholder => "Enter number of children"}/



              .col-lg-12.col-md-4.col-sm-12
                .about-btn.travel-mrt-0.pull-right{style:"margin-top: 25px;"}
                  %button.about-view.travel-btn{style:"margin-right: 0;"}
                    buscar

      #circuits.tab-pane.fade.in{:role => "tabpanel"}
        .tab-para
          .row
            .col-lg-12
              %h2.text-center{style:"color: #4e4e56 !important"} Sin informaci칩n - Circuitos

      #tours.tab-pane.fade.in{:role => "tabpanel"}
        .tab-para
          .row
            .col-lg-12
              %h2.text-center{style:"color: #4e4e56 !important"} Sin informaci칩n - Tours

      #multidestines.tab-pane.fade.in{:role => "tabpanel"}
        .tab-para
          .row
            .col-lg-12
              %h2.text-center{style:"color: #4e4e56 !important"} Sin informaci칩n - Multidestinos

-# %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}

%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDt6Fm4Tge8PJpUNhByW314XyvQGJRpDFc&sensor=false&libraries=places", :type => "text/javascript"}


:javascript
  validateForm('#search-input');
  $('#date-input').addClass('hidden-input');
  $( '.micheckbox' ).on( 'click', function() {
      if( $('#radio2').is(':checked') ){
          $('#date-input').removeClass('hidden-input');
          $('#date-input').addClass('show-input');
      } else {
          $('#date-input').removeClass('show-input');
          $('#date-input').addClass('hidden-input');
      }
  });