.col-lg-1
.col-lg-10
	.widget__search
		-# Traslados | Tours | Circuitos | Multidestinos
		%ul.nav.nav-tabs.widget__search--items
			%li.active
				%a{"data-toggle" => "tab", :href => "#transfers"}
					%i.fa.fa-car
					Traslados
			%li
				%a{"data-toggle" => "tab", :href => "#tours"}
					%i.fa.fa-map-o
					Tours
			%li
				%a{"data-toggle" => "tab", :href => "#circuits"}
					%i.fa.fa-train
					Circuitos
			%li
				%a.fix{"data-toggle" => "tab", :href => "#multidestines"}
					%i.fa.fa-plane
					Multidestinos
					
		.tab-content
			// Transfers
			#transfers.tab-pane.fade.in.active
				= render 'app/layouts/widget/transfers/form'

			// Tours
			#tours.tab-pane.fade
				= render 'app/layouts/widget/tours/form'

			// Circuits
			#circuits.tab-pane.fade
				= render 'app/layouts/widget/circuits/form'

			// Multidestinations
			#multidestines.tab-pane.fade
				= render 'app/layouts/widget/multidestinations/form'


%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDt6Fm4Tge8PJpUNhByW314XyvQGJRpDFc&sensor=false&libraries=places", :type => "text/javascript"}
%link{:href => "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}

%script{:src => '/assets/js/jquery-ui-timepicker-addon.js'}
%link{:href => "/assets/css/jquery-ui-timepicker-addon.css", :rel => "stylesheet"}/
