.col-lg-1
.col-xs-12.col-lg-10
	.widget__search
		-# Order of Items: 1.Traslados 2.Tours 3.Circuitos 4.Multidestinos
		-#Desktop version
		.hidden-xs
			%ul.nav.nav-tabs.widget__search--items.hidden-xs
				%li.active
					%a{"data-toggle" => "tab", :href => "#transfers"}
						%i.fa.fa-car
						Traslados
				%li
					%a{"data-toggle" => "tab", :href => "#tours"}
						%i.fa.fa-map-o
						Tours
				%li
					%a{"data-toggle" => "tab", :href => "#circuits"}
						%i.fa.fa-train
						Circuitos
				%li
					%a.fix{"data-toggle" => "tab", :href => "#multidestinations"}
						%i.fa.fa-plane
						Multidestinos
		-#Mobile version
		.visible-xs
			%ul.nav.nav-tabs.widget__search--items
				%li.active
					%a{"data-toggle" => "tab", :href => "#transfers"}
						%i.fa.fa-car{style:'font-size: 15px;'}

				%li
					%a{"data-toggle" => "tab", :href => "#tours"}
						%i.fa.fa-map-o{style:'font-size: 15px;'}

				%li
					%a{"data-toggle" => "tab", :href => "#circuits"}
						%i.fa.fa-train{style:'font-size: 15px;'}

				%li
					%a.fix{"data-toggle" => "tab", :href => "#multidestinations"}
						%i.fa.fa-plane{style:'font-size: 15px;'}


		.tab-content
			// Transfers
			#transfers.tab-pane.fade.in.active.test
				= render 'app/layouts/widget/transfers/form'

			// Tours
			#tours.tab-pane.fade.test
				= render 'app/layouts/widget/tours/form'

			// Circuits
			#circuits.tab-pane.fade.test
				= render 'app/layouts/widget/circuits/form'

			// Multidestinations
			#multidestinations.tab-pane.fade.test
				= render 'app/layouts/widget/multidestinations/form'

:scss
	.test{
		min-height: 176px;
	}
	.ui-datepicker{
		z-index: 1010 !important;
	}
%script{:src => "https://code.jquery.com/jquery-3.3.1.min.js"}
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDt6Fm4Tge8PJpUNhByW314XyvQGJRpDFc&sensor=false&libraries=places", :type => "text/javascript"}
%link{:href => "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}
%script{:src => '/assets/js/jquery-ui-timepicker-addon.js'}
%link{:href => "/assets/css/jquery-ui-timepicker-addon.css", :rel => "stylesheet"}/
