= search_form_for @q, url: "/#{@lang}/#{@currency}/tours", html: {class: 'input-group', style:'width: 100%;', id: 'widget_tours', method: :get } do |f|
	.box-transfers
		.row
			- unless KepplerTravel::Tour.count.positive?
				.col-lg-12
					%h5.text-center{style:"color: #4e4e56 !important"} ¡Disculpe! No se encuentran tours disponible.
			- else
				.col-lg-12{style:'margin-top: 31px;'}
				.col-lg-5
					.box-item
						.form-group
							%h2 Tours
							%select#sel1.form-control{name: 'tour_id', style:'border-radius: 6px !important;'}
								- KepplerTravel::Tour.all.each do |tour|
									%option{ value: tour.id}= tour.title[@lang].titleize
				.col-lg-3
					.box-item
						%h2 Fecha
						.form-group
							%input.form-control.custom-input{name: 'flight_origin_tour_picker', id: 'flight_origin_tour_picker', autocomplete: 'off'}/

				.col-xs-6.col-lg-2
					.box-item
						%h2 Adultos
						.form-group
							%input#adults.custom-input.form-control{min: 1, name: 'quantity_adults', value: 2, :type => "number"}/

				.col-xs-6.col-lg-2
					.box-item
						%h2 Niños
						.form-group
							%input#kids.custom-input.form-control{min: 0, name: 'quantity_kids', :type => "number"}/

				.col-xs-12.col-lg-12{style:'margin-top: 21px;'}
					#errors
					.about-btn.travel-mrt-0.pull-right.box-btn
						%button.about-view.travel-btn{type: 'submit'}
							buscar

:javascript
	function validateWidgetTour() {
		$('#widget_tours').validate({
			event: "blur",
			errorClass: "error-class",
			validClass: "valid-class",
			rules: {
				'quantity_adults': {
					required: true,
					min: 1
				},
				'flight_origin_tour_picker': {
					required: true
				}
			},
			messages: {
				'quantity_adults': {
					required: 'No puede estar en blanco',
					min: 'Introduce un valor mayor que 1'
				},
				'flight_origin_tour_picker': 'No puede estar en blanco'
			},
			debug: true,
			errorElement: "label",
			submitHandler: function (form) {
				form.submit();
			}
		});
	}

	validateWidgetTour();


	// Tours
		$(function () {

			$('#flight_origin_tour_picker').datetimepicker({
				locale: 'es',
				minDate: moment().add(3, 'd').toDate(),
				format: "DD-MM-YYYY",
				widgetPositioning: {
					horizontal: 'left',
					vertical: 'bottom'
				},
				useCurrent: false //Important! See issue #1075
			});
			$("#flight_origin_tour_picker").on("dp.change", function (e) {
				var date = $('#flight_origin_tour_picker').val()
				$('#reservation_flight_origin').val(date);
			});
		});
	// End --- Tours
