#login-front.login-front{:style => "background-image: url(/assets/img/wallpaper-receptivo.jpg)"}
  .mask-front
    .form-signin
      .text-center.mb-4
        %img.mb-4{:alt => "", :src => "/assets/img/login/logo.svg", :width => "150px"}/
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#1"} Recuperar Contraseña
      .tab-content
        #1.tab-pane.active
          = render 'devise/passwords/edit'
        .copyright-login
          .go-back-home
            %a{:href => "/"}
              %span
                %i.icon-home.icons
              Ir a la página principal
          %p.text-center Receptivo Colombia © | 2018
:javascript
  $(document).ready(function(){
    $('html, body').css('height','100%','width','100%;'); 
  });
