.aboutus {
  padding: 0;

  .banner-aboutus {
    height: 280px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &--mask {
      background-color: hsla(0, 0%, 0%, 0.35);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        color: $color-white;
        text-align: center;
        font-family: $font-primary;
        font-size: 40px;
        font-weight: bold;
        box-shadow: 0 4px 0 $color-blue;
      }

      p {
        margin: 0;
        padding: 20px;
        color: $color-white;
        text-align: center;
        font-family: $font-primary;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .box-aboutus {
    padding: 80px 0;

    .info-aboutus {
      padding: 15px 0;

      h2 {
        color: $color-gray;
        font-weight: 900;
        text-align: center;
        display: inline-block;
        padding-bottom: 8px;
        margin-bottom: 35px;
        font-size: 30px;
        font-family: $font-primary;
        box-shadow: 0px 3px 0px $color-blue;
      }

      h4 {
        color: $color-gray;
        font-weight: 900;
        text-align: center;
        display: inline-block;
        padding-bottom: 8px;
        margin-bottom: 25px;
        font-size: 25px;
        font-family: $font-primary;
        box-shadow: 0px 3px 0px $color-orange;
      }

      .title {
        color: $color-gray;
        font-weight: 900;
        text-align: center;
        display: inline-block;
        padding-bottom: 8px;
        margin-bottom: 18px;
        font-size: 30px;
        font-family: $font-primary;
        box-shadow: 0px 3px 0px $color-blue;
      }
      p {
        color: $color-gray;
        line-height: 32px;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      .cover-about {
        height: 800px;
        width: 100%;
        border-radius: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
          0px 8px 10px 1px rgba(0, 0, 0, 0.14),
          0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        transition: 0.5s ease all;
        cursor: pointer;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
            0px 20px 31px 3px rgba(0, 0, 0, 0.14),
            0px 8px 38px 7px rgba(0, 0, 0, 0.12);
        }

        @include respond-to(xs) {
          margin-top: 50px;
          height: 400px;
        }

        @include respond-to(sm) {
          margin-top: 50px;
          height: 600px;
        }
      }
      .items--info {
        padding-top: 30px;
      }
    }
    .box__image {
      height: 350px;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      @include respond-to(xs) {
        margin: 20px 0;
      }
    }

    .separator {
      margin-bottom: 65px;
      @include respond-to(xs) {
        margin: 10px 0;
      }
    }
    .box__card {
      text-align: center;
      background: #fff;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      padding: 50px;
      width: 100%;
      margin-bottom: 65px;
    }
    .box__info {
      margin-bottom: 65px;
      p {
        text-align: center;
      }
    }
    .item_general {
      box-shadow: 0px 3px 0px $color-orange !important;
    }
    .item_mision {
      box-shadow: 0px 3px 0px $color-yellow !important;
    }
    .item_vision {
      box-shadow: 0px 3px 0px $color-red !important;
    }
    .box-btn-cta {
      padding: 10px 0;
    }
  }
}
