%tr
  %th N° Orden
  %th.hidden-xs.hidden-sm N° Factura
  %th.hidden-xs Costo Cotización
  %th.hidden-xs Estatus Reserva
  %th.hidden-xs Origen
  %th.hidden-xs Destino
  %th.hidden-xs.hidden-sm Cant. Adultos
  - if params[:type_search] == 'agency'
    %th.hidden-xs.hidden-sm Agencia
  - else
    %th.hidden-xs.hidden-sm User
  %th.hidden-xs.hidden-sm Conductor
  -# %th.hidden-xs.hidden-sm ¿Traslado Completado?
  -# %th.hidden-xs.hidden-sm Fecha Destino
  -# %th.hidden-xs.hidden-sm Cant. Niños
  %th.center Menu
  %th
