%tr
  %th N° Orden
  %th.hidden-xs.hidden-sm N° Factura
  %th.hidden-xs Costo Cotización
  %th.hidden-xs Estatus Reserva
  %th.hidden-xs Origen
  %th.hidden-xs Destino
  %th.hidden-xs.hidden-sm Cant. Adultos
  %th.hidden-xs.hidden-sm User
  %th.hidden-xs.hidden-sm Chofer
  -# %th.hidden-xs.hidden-sm Fecha Destino
  -# %th.hidden-xs.hidden-sm Cant. Niños
  %th.center Menu
  %th
