%tr
  %th.hidden-xs Tipo de Reserva
  %th.hidden-xs Estatus Pago
  %th.hidden-xs Origen
  %th.hidden-xs Destino
  %th.hidden-xs.hidden-sm Cant. Adultos
  %th.hidden-xs.hidden-sm User
  -# %th.hidden-xs.hidden-sm Fecha Destino
  -# %th.hidden-xs.hidden-sm Cant. Niños
  %th.center Menu
  %th
