-#conditioned snippet - variable in the controller
.container-fluid
  .row
    - if current_user.reservations_where('circuit').blank?
      .col-12
        .empty-states
          .col-12
            %center
              .image-ico
                %img{:alt => "", :src => "/assets/img/orders.svg", :class => "img-responsive"}/
              -#%i.icon-directions.icons
          .col-12
            .error
              %center
                %p ¡Lo sentimos!
                %p No hemos encontrado órdenes de circuitos.
    - else
      .col-12
        .card
          .card-header
            %h4.card-title Órdenes de Circuitos
            -#%p.card-category Lorem ipsum dolor sit amet consectetur adipisicing elit.
          .card-body
            .table-responsive
              %table.table.table-hover.table-striped
                %thead
                  %th Orden
                  %th Factura
                  %th Cotizante
                  %th Estatus
                  %th Detalles
                %tbody
                  - current_user.reservations_where('circuit').reverse.each do |reservation|
                    %tr
                      %td= reservation.id
                      %td= reservation.invoice.token
                      %td= reservation.user.name.titleize
                      -#- unless reservation.order.status.eql?('complete')
                      %td
                        %span.status.not-available No completado
                      -#- else
                        %td
                          %span.status.available Completado
                      %td
                        %a{href: order_info_path(@lang, @currency, params[:module], reservation.id)}
                          %button.btn.btn-primary.btn-xs{:type => "button"}
                            %span
                              %i.icon-credit-card.icons
                            Detalles
                      -#%td= number_to_currency(reservation.invoice.amount, locale: @locale)
                      -#%td{style:"text-align: center;"}
                        %span.label{class: reservation.invoice.status_class?}= reservation.invoice.status
                      -#%td= reservation.travellers.first.try(:name)
                      -#%td= truncate(reservation.origin, :length => 25)
                      -#%td= reservation.flight_origin
                      -#%td= reservation.quantity_adults
                      -#%td= reservation.quantity_kids