.sidebar-wrapper
  .logo
    %a.simple-text{:href => "#"}
      .logo-img
        %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg"}/
      Receptivo Colombia
  %ul.nav.nav-mobile-menu
    %li.dropdown.nav-item{"aria-haspopup" => "true"}
      %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown"}
        %i.fa.fa-globe
        %b.caret
        %span.notification 5 Notifications
      .dropdown-menu{:style => "display: none;"}
        %a.dropdown-item{:href => "#"} Notification 1
        %a.dropdown-item{:href => "#"} Notification 2
        %a.dropdown-item{:href => "#"} Notification 3
        %a.dropdown-item{:href => "#"} Notification 4
        %a.dropdown-item{:href => "#"} Another notification
    %li.nav-item
      %a.nav-link{:href => "#"}
        %i.nc-icon.nc-zoom-split.hidden-lg-up
        %span.d-lg-none Search
    %li.dropdown.nav-item{"aria-haspopup" => "true"}
      %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown"}
        %i
        %span.no-icon Dropdown
        %b.caret
      .dropdown-menu{:style => "display: none;"}
        %a.dropdown-item{:href => "#"} Action
        %a.dropdown-item{:href => "#"} Another action
        %a.dropdown-item{:href => "#"} Something
        %a.dropdown-item{:href => "#"} Something else here
        .divider
        %a.dropdown-item{:href => "#"} Separated link
    %li.nav-item
      %a.nav-link{:href => "#pablo"}
        %span.no-icon Log out
  %ul.nav
    %li.router-link-exact-active.nav-item.active
      %a.nav-link{:href => "#"}
        %i.nc-icon.nc-chart-pie-35
        %p Mi Tablero
    %li
      %a.nav-link{:href => "#"}
        %i.nc-icon.nc-circle-09
        %p Consultas
    %li
      %a.nav-link{:href => "#"}
        %i.nc-icon.nc-notes
        %p Ordenes
    %li
      %a.nav-link{:href => "#"}
        %i.nc-icon.nc-paper-2
        %p Perfil
      
    /
      <li class="">
      <a href="#/admin/icons" class="nav-link">
      <i class="nc-icon nc-atom"></i>
      <p>Icons</p>
      </a>
      </li>
      <li class="">
      <a href="#/admin/maps" class="nav-link">
      <i class="nc-icon nc-pin-3"></i>
      <p>Maps</p>
      </a>
      </li>
      <li class="">
      <a href="#/admin/notifications" class="nav-link">
      <i class="nc-icon nc-bell-55"></i>
      <p>Notifications</p>
      </a>
      </li>