$color-blue:#43b7e8;
$color-yellow: #ffc600;
$color-red:#e53124;
$color-orange:#eb6b0a;
$color-green: #9dc107;
$color-gray:#4e4e56;
$color-white:#ffffff;
$font-primary: 'Poppins', sans-serif;

.loader {
  width: 100%;
  height: 100%;
  background-color: $color-gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;

  &__box {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10050;

    .box_spinner {
      position: relative;
      height: 150px;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;

      .animation {
        height: 150px;
        position: absolute;
        top: -10px;
        left: -10px;

        .spinner {
          animation: rotate 1.4s linear infinite;
          -webkit-animation: rotate 1.4s linear infinite;
          -moz-animation: rotate 1.4s linear infinite;
          width: 174px;
          height: 174px;
          position: relative;
        }

        .spinner-dot {
          width: 274px;
          height: 274px;
          position: relative;
          top: 0;
        }


        @keyframes rotate {
          to {
            transform: rotate(360deg);
          }
        }

        @-webkit-keyframes rotate {
          to {
            -webkit-transform: rotate(360deg);
          }
        }

        @-moz-keyframes rotate {
          to {
            transform: rotate(360deg);
          }
        }

        .path {
          stroke-dasharray: 170;
          stroke-dashoffset: 20;
        }

      }

      .load-isotype {
        -webkit-animation: change-bg 10s infinite linear alternate;
        animation: change-bg 10s infinite linear alternate;
        will-change: fill;

        @keyframes change-bg {
          0% {
            fill: $color-yellow;
          }

          20% {
            fill: $color-blue;
          }

          40% {
            fill: $color-red;
          }

          60% {
            fill: $color-orange;
          }

          80% {
            fill: $color-green;
          }

          100% {
            fill: $color-white;
          }

        }
      }

    }

  }

  &__notify {
    height: 20px;
    width: 100%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h4 {
      color: white;
      font-family: $font-primary;
    }
  }
}