$("#index-show").html("#{j render('index_show')}")
$("#index-show").css('right', 0)
$("#index-show").css('background', '#fff')
$('.listing table').find(".active").removeClass("active")
$("#row-#{@driver.id}").addClass("active")
