%svg.spinner{:height => "174px", :viewbox => "0 0 66 66", :width => "100px", :xmlns => "http://www.w3.org/2000/svg"}
  %circle.path{:cx => "33", :cy => "33", :fill => "transparent", :r => "30", :stroke => "url(#gradient)", "stroke-width" => "2"}
  %lineargradient#gradient
    %stop{:offset => "50%", "stop-color" => "#43b7e8", "stop-opacity" => "1"}
    %stop{:offset => "65%", "stop-color" => "#43b7e8", "stop-opacity" => ".5"}
    %stop{:offset => "100%", "stop-color" => "#43b7e8", "stop-opacity" => "0"}
  %svg.spinner-dot.dot{:height => "5px", :viewbox => "0 0 66 66", :width => "5px", :x => "37", :xmlns => "http://www.w3.org/2000/svg", :y => "1.5"}
    %circle.path{:cx => "33", :cy => "33", :fill => "#43b7e8", :r => "30"}
