-#.form-label-group
  %label{:for => "inputEmail"} Identification
  %input#inputEmail.form-control{:autofocus => "", :placeholder => "Email address", :required => "", :type => "email"}/
.form-label-group
  %label{:for => "inputEmail"} Email address
  %input#inputEmail.form-control{:autofocus => "", :placeholder => "Email address", :required => "", :type => "email"}/
.box-login-btn
  %button.btn.btn-lg.btn-primary.btn-block.btn-login{:type => "submit"} Send Password
