%tr
  %th N° Orden
  %th.hidden-xs.hidden-sm N° Factura
  %th.hidden-xs Costo Cotización
  %th.hidden-xs Estatus Reserva
  %th.hidden-xs Estatus Pago
  %th.hidden-xs Circuito
  %th.hidden-xs Fecha de Reserva
  %th.hidden-xs.hidden-sm Cotizante
  %th.hidden-xs.hidden-sm Usuario
  %th.center Menu
  %th
