//Brand - Fonts Family
$font-primary: 'Poppins',
sans-serif;
//Brand - Corporate colors
$color-blue:#43b7e8;
$color-yellow: #ffc600;
$color-red:#e53124;
$color-orange:#eb6b0a;
$color-green: #9dc107;
$color-gray:#4e4e56;




$arrow-plan: #43b7e8;
$arrow-size: 25px;
$dots-color: #ffffff;
$dots-color-active: #f50000;
$dots-size: 10px;