!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Dashboard
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %link{:href => "/assets/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/theme.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/nucleo-icons.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    %div
      .notifications
        %span{:mode => "in-out"}
      .wrapper
        .sidebar{style: "background-image: url(/assets/img/sidebar-5.jpg)"}
          .sidebar-wrapper
            .logo
              %a.simple-text{:href => "#"}
                .logo-img
                  %img{:alt => "", :src => "/assets/img/isotipo-receptivo-colombia-invoice.svg"}/
                Receptivo Colombia
            %ul.nav.nav-mobile-menu
              %li.dropdown.nav-item{"aria-haspopup" => "true"}
                %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown"}
                  %i.fa.fa-globe
                  %b.caret
                  %span.notification 5 Notifications
                .dropdown-menu{:style => "display: none;"}
                  %a.dropdown-item{:href => "#"} Notification 1
                  %a.dropdown-item{:href => "#"} Notification 2
                  %a.dropdown-item{:href => "#"} Notification 3
                  %a.dropdown-item{:href => "#"} Notification 4
                  %a.dropdown-item{:href => "#"} Another notification
              %li.nav-item
                %a.nav-link{:href => "#"}
                  %i.nc-icon.nc-zoom-split.hidden-lg-up
                  %span.d-lg-none Search
              %li.dropdown.nav-item{"aria-haspopup" => "true"}
                %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown"}
                  %i
                  %span.no-icon Dropdown
                  %b.caret
                .dropdown-menu{:style => "display: none;"}
                  %a.dropdown-item{:href => "#"} Action
                  %a.dropdown-item{:href => "#"} Another action
                  %a.dropdown-item{:href => "#"} Something
                  %a.dropdown-item{:href => "#"} Something else here
                  .divider
                  %a.dropdown-item{:href => "#"} Separated link
              %li.nav-item
                %a.nav-link{:href => "#pablo"}
                  %span.no-icon Log out
            %ul.nav
              %li.router-link-exact-active.nav-item.active
                %a.nav-link{:href => "#"}
                  %i.nc-icon.nc-chart-pie-35
                  %p Mi Tablero
              %li
                %a.nav-link{:href => "#"}
                  %i.nc-icon.nc-circle-09
                  %p Consultas
              %li
                %a.nav-link{:href => "#"}
                  %i.nc-icon.nc-notes
                  %p Ordenes
              %li
                %a.nav-link{:href => "#"}
                  %i.nc-icon.nc-paper-2
                  %p Perfil
              /
                <li class="">
                <a href="#/admin/icons" class="nav-link">
                <i class="nc-icon nc-atom"></i>
                <p>Icons</p>
                </a>
                </li>
                <li class="">
                <a href="#/admin/maps" class="nav-link">
                <i class="nc-icon nc-pin-3"></i>
                <p>Maps</p>
                </a>
                </li>
                <li class="">
                <a href="#/admin/notifications" class="nav-link">
                <i class="nc-icon nc-bell-55"></i>
                <p>Notifications</p>
                </a>
                </li>
        .main-panel
          %nav.navbar.navbar-expand-lg
            .container-fluid
              %a.navbar-brand{:href => "#"} Mi Tablero
              %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navigation-index", "aria-expanded" => "false", "aria-label" => "Toggle navigation", :type => "button"}
                %span.navbar-toggler-bar.burger-lines
                %span.navbar-toggler-bar.burger-lines
                %span.navbar-toggler-bar.burger-lines
              .collapse.navbar-collapse.justify-content-end
                %ul.nav.navbar-nav.mr-auto
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "dropdown", :href => "#"}
                      %i.nc-icon.nc-palette
                  /
                    <li  aria-haspopup="true" class="dropdown nav-item">
                    <a  data-toggle="dropdown" class="nav-link dropdown-toggle">
                    <i  class="nc-icon nc-planet"></i>
                    <b  class="caret"></b>
                    <span  class="notification">5</span>
                    </a>
                    <div  class="dropdown-menu" style="display: none;">
                    <a  href="#" class="dropdown-item">Notification 1</a>
                    <a  href="#" class="dropdown-item">Notification 2</a>
                    <a  href="#" class="dropdown-item">Notification 3</a>
                    <a  href="#" class="dropdown-item">Notification 4</a>
                    <a  href="#" class="dropdown-item">Another notification</a>
                    </div>
                    </li>
                  /
                    <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nc-icon nc-zoom-split"></i>
                    <span class="d-lg-block">&nbsp;Search</span>
                    </a>
                    </li>
                %ul.navbar-nav.ml-auto
                  /
                    <li class="nav-item">
                    <a href="#" class="nav-link">
                    Account
                    </a>
                    </li>
                  %li.dropdown.nav-item{"aria-haspopup" => "true"}
                    %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown"}
                      %i
                      %span.no-icon Mi Perfil
                      %b.caret
                    .dropdown-menu{:style => "display: none;"}
                      %a.dropdown-item{:href => "#"} Action
                      %a.dropdown-item{:href => "#"} Another action
                      %a.dropdown-item{:href => "#"} Something
                      %a.dropdown-item{:href => "#"} Another action
                      %a.dropdown-item{:href => "#"} Something
                      .divider
                      %a.dropdown-item{:href => "#"} Separated link
                  /
                    <li class="nav-item">
                    <a href="#" class="nav-link">
                    Log out
                    </a>
                    </li>

          .content
            .container-fluid
              .row
                .col-md-8
                  .card
                    .card-header
                      %h4.card-title Edit Profile
                    .card-body
                      %form
                        .row
                          .col-md-5
                            .form-group
                              %label.control-label
                                Company
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :disabled => "disabled", :placeholder => "Paper dashboard", :type => "text"}/
                          .col-md-3
                            .form-group
                              %label.control-label
                                Username
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Username", :type => "text"}/
                          .col-md-4
                            .form-group
                              %label.control-label
                                Username
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Email", :type => "email"}/
                        .row
                          .col-md-6
                            .form-group
                              %label.control-label
                                First Name
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "First Name", :type => "text"}/
                          .col-md-6
                            .form-group
                              %label.control-label
                                Last Name
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Last Name", :type => "text"}/
                        .row
                          .col-md-12
                            .form-group
                              %label.control-label
                                Address
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Home Address", :type => "text"}/
                        .row
                          .col-md-4
                            .form-group
                              %label.control-label
                                City
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "City", :type => "text"}/
                          .col-md-4
                            .form-group
                              %label.control-label
                                Country
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "Country", :type => "text"}/
                          .col-md-4
                            .form-group
                              %label.control-label
                                Postal Code
                              %input.form-control{"aria-describedby" => "addon-right addon-left", :placeholder => "ZIP Code", :type => "number"}/
                        .row
                          .col-md-12
                            .form-group
                              %label About Me
                              %textarea.form-control.border-input{:placeholder => "Here can be your description", :rows => "5"}
                        .text-center
                          %button.btn.btn-info.btn-fill.float-right{:type => "submit"}
                            Update Profile
                        .clearfix
                .col-md-4
                  .card.card-user
                    .card-image
                      %img{:alt => "...", :src => "/assets/img/cover.jpg"}/
                    .card-body
                      .author
                        %a{:href => "#"}
                          %img.avatar.border-gray{:alt => "...", :src => "/assets/img/profile.jpg"}/
                          %h4.title
                            Mike Andrew
                            %br/
                            %small michael24
                      %p.description.text-center
                        "Lamborghini Mercy
                        %br/
                        Your chick she so thirsty
                        %br/
                        I'm in that two seat Lambo"
                    .card-footer
                      %hr/
                      .text-center
                        %button.btn.btn-simple{:href => "#"}
                          %i.fa.fa-facebook-square
                        %button.btn.btn-simple{:href => "#"}
                          %i.fa.fa-twitter
                        %button.btn.btn-simple{:href => "#"}
                          %i.fa.fa-google-plus-square

          %footer.footer
            .container-fluid
              -#%nav
                %ul.footer-menu
                  %li
                    %a.nav-item.active{:href => "#"} Dashboard
              -#.copyright.text-center
                © Coded with
                %i.fa.fa-heart.heart
                by
                = succeed "." do
                  %a{:href => "#", :target => "_blank"} Cristi Jora
                = succeed "." do
                  %a{:href => "#", :target => "_blank"} Creative Tim
    %script{:src => "assets/js/jquery-3.2.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/js/bootstrap.min.js", :type => "text/javascript"}
