%h3#travellers_form= t('receptivo.reservation_tours.title_dates_traveler')
- @seats.times do |i|
  .row
    .col-lg-6
      .form-group.form-custom
        %label{for: "name"}= t('receptivo.reservation_tours.input_name')
        %input#name.form-control.custom_input{name: 'travellers[][name]', type: "text", placeholder: t('receptivo.reservation_tours.input_name')}/
    .col-lg-6
      .form-group.form-custom
        %label{for: "dni"}= t('receptivo.reservation_tours.input_id')
        %input#dni.form-control{name: 'travellers[][dni]', type: "text", placeholder: t('receptivo.reservation_tours.input_id')}/
