%h3 Solicitudes/Observaciones
.row
  .col-lg-12
    .form-group.form-custom{style:"margin-bottom: 0px;"}
      %label{:for => ""} Observaciones
      %textarea.custom_input{placeholder: 'Solicitudes/Observaciones', id: "", name: "reservation[description]", rows: "4", style:"width: 100%;"}

