%h3 Resumen
.row
  .col-lg-12
    .reservation-resumen
      %ul.list-group.mb-3.sticky
        %li.list-group-item.d-flex.justify-content-between.lh-condensed
          %div
            %h6.my-0 Tour
            %small.text-muted= @tour.title[@lang].titleize
        %li.list-group-item.d-flex.justify-content-between.lh-condensed
          %div
            %h6.my-0 Fecha de Reserva
            %small.text-muted= params[:flight_origin_tour_picker]
        %li.list-group-item.d-flex.justify-content-between
          %div
            %h6.my-0 Sub-total
            -# - byebug
            %small.text-muted 2 x $ 1.000,00 = $ 2.000,00
        %li.list-group-item.d-flex.justify-content-between
          %div
            %span
              Precio Total
            %strong{style:"float: right;"} COP $ 2.000,00
        %hr
        .box-btn-payment
          %span
            %p.text-center.title-reser ¡Paga tu reserva!
            %br/
          %center
            .about-btn.travel-mrt-0
              %button.about-view.travel-btn.btn-reser Confirmar
