%h3= t('receptivo.reservation_multidestinations.cancellation_policy')
.row
  .col-lg-12
    .separator__mobile.hidden-lg
    .form-group.form-custom
      .checkbox.checkbox-blue.checkbox-inline
        %input#cancellations_policy.styled{name: 'cancellations_policy', :type => "checkbox", :value => "agree"}/
        %label.check{:for => "cancellations_policy"} 
          = t('receptivo.reservation_multidestinations.i_agree')
          = succeed "." do
            = link_to t('receptivo.reservation_multidestinations.cancellation_policy') , '#' , :class => '', :id => 'js_cancellationsPolicy', :type => 'button'