%h3= t('receptivo.reservation_multidestinations.title_dates_requests')
.row
  .col-lg-12
    .form-group.form-custom{style:"margin-bottom: 0px;"}
      %label{:for => ""}= t('receptivo.reservation_multidestinations.observations')
      %textarea.custom_input.form-control{placeholder: t('receptivo.reservation_multidestinations.input_requests'), id: "", name: "reservation[description]", rows: "4", style:"width: 100%;"}
