.container-fluid
  .row
    .col-12.col-xl-8
      .card
        .card-header
          %h4.card-title Detalles de la Reservación
        .card-body
          %ul.list-group.list-group-flush
            %li.list-group-item
              Orden:
              %span 1111
            %li.list-group-item
              Factura:
              %span
            %li.list-group-item
              Cotizante:
              %span
            %li.list-group-item
              Estatus:
              %span
            %li.list-group-item
              Moneda:
              %span
            %li.list-group-item
              Costo:
              %span
            %li.list-group-item
              Pago:
              %span
            %li.list-group-item
              nombre_modulo:
              %span
            %li.list-group-item
              Origen:
              %span
            %li.list-group-item
              Destino:
              %span
            %li.list-group-item
              Pasajeros:
              %span
            %li.list-group-item
              Cantidad Adultos:
              %span
            %li.list-group-item
              Cantidad Niños:
              %span
        .card-footer
:scss
  .list-group-item {
    border: 1px solid rgba(255, 255, 255, 0) !important;
  }
