.payment{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4e4e56;
    .image-ico{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
       i{
         font-size: 180px;
         color: $color-orange;
       }
    }
    p{
        font-weight: 700;
        text-align: center;
        font-size: 30px;
        color: $color-white;
        font-family: $font-primary;
    }
    a{
        font-size: 20px;
    }
    .back-home{
        i{
            color: #bbbdbf;
            font-size: 28px;
        }
        a{
            text-decoration: underline;
            span{
                color: $color-white;
                font-family: $font-primary;
                font-size: 30px;
                font-weight: bold;
                color: #bbbdbf;
                margin: 0 10px;
            }
        }
    }
}