.invoice-checkout {
  &__box {
    h2 {
      margin: 0;
      // color: $color-gray;
    }

    h3 {
      // color: $color-gray;
    }

    &--payment {
      height: 50px;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.invoice-title h2,
.invoice-title h3 {
  display: inline-block;
}

.table > tbody > tr > .no-line {
  border-top: none;
}

.table > thead > tr > .no-line {
  border-bottom: none;
}

.table > tbody > tr > .thick-line {
  border-top: 2px solid;
}
