.transfers {
  padding: 90px 0 90px 0;

  .content-transfers {
    padding: 40px 0;
    width: 100%;

    .cars {
      height: auto;
      width: 100%;
      border: 1px solid #00000014;
      font-family: $font-primary;
      cursor: pointer;

      &__img {
        height: 300px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &__inf {
        text-align: center;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
          0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

        .box-title {
          color: $color-gray;
          margin: 0;
          padding: 0 0 15px 0;
          font-family: $font-primary;
          font-weight: 300;
          font-size: 25px;
          margin-bottom: 38px;

          .title {
            text-align: left;
            float: left;
            box-shadow: 0px 2px 0px $color-blue;
          }

          .price {
            text-align: right;
            float: right;
            color: $color-blue;
            font-weight: 500;
          }
        }

        p {
          text-align: left;
          padding: 3px 0;

          span {
            color: $color-gray;
            margin: 0;
            padding: 0;
            font-family: $font-primary;
            text-align: left;
            margin: 5px 0;
            font-size: 15px;

            i {
              margin-right: 5px;
            }
          }
        }

        .box-btn {
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
        }
      }
    }

    .box-results {
      width: 100%;

      .image-search {
        padding: 40px 0;

        img {
          width: 170px;
        }
      }
    }
  }
}