%option{:value => ""} Seleccione lugar
%optgroup{:label => "Antioquia"}
  %option{:value => "461"} Aeropuerto Internacional Jose María Cordoba (Rio Negro - Medellín)
  %option{:value => "393"} Aeropuerto Nacional Antonio Roldán Betancourt (Apartadó)
  %option{:value => "394"} Apartadó - Zona urbana
  %option{:value => "462"} Medellín
%optgroup{:label => "Atlántico"}
  %option{:value => "397"} Aeropuerto Internacional Ernesto Cortissoz (Barranquilla)
  %option{:value => "398"} Barranquilla - Zona urbana
%optgroup{:label => "Bogotá"}
  %option{:value => "399"} Aeropuerto Internacional El Dorado (Bogotá)
  %option{:value => "400"} Bogotá D.C. - Zona Norte
  %option{:value => "422"} Bogotá D.C. - Zona Sur
%optgroup{:label => "Bolivar"}
  %option{:value => "448"} Aeropuerto Internacional Rafael Nuñez (Cartagena)
  %option{:value => "447"} Cartagena - Zona Manzanillo
  %option{:value => "419"} Cartagena - Zona urbana
%optgroup{:label => "Boyacá"}
  %option{:value => "432"} Tunja
%optgroup{:label => "Caldas"}
  %option{:value => "440"} Aeropuerto Internacional La Nubia (Manizales)
  %option{:value => "441"} Manizales - Zona urbana
%optgroup{:label => "Caquetá"}
  %option{:value => "456"} Aeropuerto Nacional Gustavo Artunduaga (Florencia)
  %option{:value => "457"} Florencia - Zona urbana
%optgroup{:label => "Casanare"}
  %option{:value => "485"} Aeropuerto Nacional El Alcaraván (Yopal)
  %option{:value => "486"} Yopal - Zon urbana
%optgroup{:label => "Cauca"}
  %option{:value => "465"} Aeropuerto nacional Guillermo Leon Valencia (Popayán)
  %option{:value => "466"} Popayán - Zona urbana
%optgroup{:label => "Cesar"}
  %option{:value => "481"} Aeropuerto Nacional Alfonso López Pumarejo (Valledupar)
  %option{:value => "482"} Valledupar - Zona urbana
%optgroup{:label => "Chocó"}
  %option{:value => "468"} Aeropuerto Nacional El Caraño (Quibdó)
  %option{:value => "467"} Quibdó
%optgroup{:label => "Cundinamarca"}
  %option{:value => "428"} Cajicá
  %option{:value => "425"} Calera
  %option{:value => "426"} Chía
  %option{:value => "423"} Soacha
  %option{:value => "427"} Zipaquirá
%optgroup{:label => "Magdalena"}
  %option{:value => "475"} Aeropuerto Internacional Simón Bolivar (Santamarta)
  %option{:value => "477"} Santamarta - Zona Pozos Colorados
  %option{:value => "478"} Santamarta - Zona Taganga
  %option{:value => "479"} Santamarta - Zona Tairona
  %option{:value => "421"} Santamarta - Zona urbana
%optgroup{:label => "Meta"}
  %option{:value => "483"} Aeropuerto Nacional Vanguardia (Villavicencio)
  %option{:value => "434"} Villavicencio
%optgroup{:label => "Nariño"}
  %option{:value => "446"} San Juan de Pasto
%optgroup{:label => "Norte de Santander"}
  %option{:value => "453"} Aeropuerto Internacional Camilo Daza (Cúcuta)
  %option{:value => "454"} Cúcuta - Zona urbana
%optgroup{:label => "Quindío"}
  %option{:value => "395"} Aeropuerto El Eden (Armenia)
  %option{:value => "396"} Armenia - zona urbana
%optgroup{:label => "Risaralda"}
  %option{:value => "443"} Aeropuerto Internacional Matecaña (Pereira)
  %option{:value => "444"} Pereira - Zona urbana
%optgroup{:label => "San Andrés y Providencia"}
  %option{:value => "472"} Aeropuerto Internacional Gustavo Rojas Pinilla (San Andrés)
  %option{:value => "474"} San Andrés - Zona San Luis
  %option{:value => "473"} San Andrés - Zona urbana centro
%optgroup{:label => "Santander"}
  %option{:value => "436"} Aeropuerto Internacional Palo Negro (Bucaramanga)
  %option{:value => "438"} Bucaramanga
%optgroup{:label => "Sucre"}
  %option{:value => "450"} Aeropuerto Nacional Las Brujas (Sincelejo)
  %option{:value => "451"} Sincelejo - Zona urbana
%optgroup{:label => "Tolima"}
  %option{:value => "459"} Aeropuerto Nacional Perales (Ibagué)
  %option{:value => "460"} Ibagué - Zona urbana
%optgroup{:label => "Valle del Cauca"}
  %option{:value => "408"} Acopi
  %option{:value => "401"} Aeropuerto Internacional Alfonso Bonilla Aragon (Cali)
  %option{:value => "411"} Buga
  %option{:value => "412"} Bugalagrande
  %option{:value => "402"} Cali - Perímetro Urbano
  %option{:value => "406"} Cali - Zona Jumbo
  %option{:value => "404"} Cali - Zona norte
  %option{:value => "405"} Cali - Zona Pance
  %option{:value => "403"} Cali - zona sur
  %option{:value => "463"} Cartago
  %option{:value => "409"} Jamundí
  %option{:value => "407"} Palmira
  %option{:value => "413"} Tuluá
