.single-travel-boxes
  #desc-tabs.desc-tabs
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation", :style => "border-top-left-radius: 5px;"}
        %a{"aria-controls" => "translation", "data-toggle" => "tab", :href => "#translation", :role => "tab", :style => "border-top-left-radius: 5px;"}
          %i.fa.fa-car
          Traslados
      %li{:role => "presentation"}
        %a{"aria-controls" => "circuits", "data-toggle" => "tab", :href => "#circuits", :role => "tab"}
          %i.fa.fa-train
          Circuitos
      %li{:role => "presentation"}
        %a{"aria-controls" => "tours", "data-toggle" => "tab", :href => "#tours", :role => "tab"}
          %i.fa.fa-map-o
          Tours
      %li{:role => "presentation", :style => "border-bottom-right-radius: 5px;"}
        %a{"aria-controls" => "multidestines", "data-toggle" => "tab", :href => "#multidestines", :role => "tab", :style => "border-bottom-right-radius: 5px;"}
          %i.fa.fa-plane
          Multidestinos
    .tab-content
      #translation.tab-pane.active.fade.in{:role => "tabpanel"}
        = search_form_for @q, url: "/#{@lang}/#{@currency}/transfers", html: { class: 'input-group', id: 'search-input', method: :get } do |f|
          .tab-para
            .row
              .col-lg-12
                .trip-circle
                  .single-trip-circle
                    %input#radio1{:name => "radio", :type => "radio"}/
                    %label{:for => "radio1"}
                      %span.round-boarder>
                        %span.round-boarder1
                      Solo ida
                  .single-trip-circle
                    %input#radio2{:name => "radio", :type => "radio"}/
                    %label{:for => "radio2"}
                      %span.round-boarder
                        %span.round-boarder1
                      Ida y vuelta

              .col-lg-6
                .single-tab-select-box
                  %h2 ¿A qué aeropuerto llega tu vuelo?
                  %input.custom-input{id: 'origin_transfer', name: 'destination_transfer'}
                    -# = render 'app/front/stack-destinations'

              .col-lg-6
                .single-tab-select-box
                  %h2 ¿Dónde quieres que te dejemos?
                  %input.custom-input{id: 'arrival_transfer', name: 'other_destinations'}
                    -# = render 'app/front/stack-destinations'

              .col-lg-12
                %hr
              .col-lg-6
                .single-tab-select-box
                  %h2 Adultos
                  .travel-select-icon
                    %select.form-control{name: 'q[quantity_adults_lteq]'}
                      %option{:value => "default"} Seleccionar Cantidad
                      %option{:value => "1"} 1
                      %option{:value => "2"} 2
                      %option{:value => "3"} 3
                      %option{:value => "4"} 4
              .col-lg-6
                .single-tab-select-box
                  %h2 Niños
                  .travel-select-icon
                    %select.form-control{name: 'q[quantity_kids_lteq]'}
                      %option{:value => "default"} Seleccionar Cantidad
                      %option{:value => "1"} 1
                      %option{:value => "2"} 2
                      %option{:value => "3"} 3
                      %option{:value => "4"} 4

              .col-lg-12.col-md-4.col-sm-12
                .about-btn.travel-mrt-0.pull-right
                  %button.about-view.travel-btn
                    buscar

      #circuits.tab-pane.fade.in{:role => "tabpanel"}
        .tab-para
          .row
            .col-lg-12
              %h2.text-center{style:"color: #4e4e56 !important"} Sin información - Circuitos

      #tours.tab-pane.fade.in{:role => "tabpanel"}
        .tab-para
          .row
            .col-lg-12
              %h2.text-center{style:"color: #4e4e56 !important"} Sin información - Tours

      #multidestines.tab-pane.fade.in{:role => "tabpanel"}
        .tab-para
          .row
            .col-lg-12
              %h2.text-center{style:"color: #4e4e56 !important"} Sin información - Multidestinos

%script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}
