!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'

  %body{style:"padding-top:120px;"}
    %header
      = render 'app/layouts/navbar'
      .loader
        = render 'app/front/loader/loader'

    %section#aboutus.aboutus
      .banner-aboutus{style: "background-image: url(/assets/img/banner.jpg)"}
        .banner-aboutus--mask
          %h2 Sobre Nosotros
          %p Somos una Agencia Operadora de Turismo en Colombia
      .box-aboutus
        .info-aboutus
          .container
            .row
              .col-xs-12.col-md-8
                %center
                  %h2.text-center Receptivo Colombia
                %p Somos una empresa constituida dentro de los marcos legales establecidos por la ley colombiana. Enfocados en brindar excelentes servicios turísticos para el mercado internacional y nacional. A partir de la recepción de cada uno de nuestros pasajeros, buscamos el mejor recurso del servicio, para encontrar la excelencia del producto dentro de nuestro portafolio, con el fin de satisfacer las necesidades de nuestros clientes.
                .items--info
                  %h4 Nuestra misión
                %p Receptivo Colombia S.A.S. es una empresa constituida dentro del marco legal establecido por la ley, cuya misión es brindar los mejores servicios turísticos para el mercado nacional e internacional, con el fin de superar las expectativas de nuestros clientes, buscando siempre el mejor recurso del servicio en transportes, hoteles, asistencias médicas, alquiler de vehículos, entre otros con los cuales se quiere satisfacer las necesidades de los clientes.
                .items--info
                  %h4 Nuestra visión
                %p Queremos establecernos en el año 2021 como referentes de calidad, costos, excelencia en servicios turísticos para nuestro nicho de mercado nacional e internacional. Haciendo que la calidad en el servicio integral que ofrecemos al cliente, sea la fortaleza y credibilidad, para fidelizarlos por la satisfacción de la compra realizada a través nuestra empresa Receptivo Colombia S.A.S
              .col-xs-12.col-md-4
                .cover-about{style: "background-image: url(/assets/img/about.jpg)"} 
              
            

    %footer#footer.footer.footer-copyright
      = render 'app/layouts/footer'
%script{:src => "/assets/js/loader.js"}
:javascript
  $('.navigation-front').removeClass('background-hide');
  $('.navigation-front').addClass('background-show');

