!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'
  %body
    %header
      .loader
        = render 'app/front/loader/loader'
    %section#break.break
      .container
        .row
          .col-lg-12
            .image-ico
              %i.icon-directions.icons     
          .col-lg-12
            %p ¡Ha ocurrido un error inesperado! 
            %p Por favor, vuelva a realizar el proceso nuevamente
          .col-lg-12
            %br/
            %br/
            %center
              .back-home
                %i.icon-home.icons
                = link_to root_path do
                  %span Regresar
                  
    %script{:src => "/assets/js/loader.js"}
