!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'
  %body
    .loader
      .loader__box
        .box_spinner
          = render 'app/front/loader_isotype'
          .animation  
            = render 'app/front/loader_svg'
      .loader__notify
    .payment
      = render 'app/front/form_payment'

:javascript
  // Form submit function.
  function submitform(){
    console.log('Submit form')
    document.getElementById("form1").submit();
  }

  submitform();

  $(window).load(function () {
    setTimeout(function () {
      $('.loader').fadeOut();
    }, 1000);
  });


