!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'

  %body
    %header
      = render 'app/front/navbar'

    %section#home.about-us
      %video#my-video.myvideo{:autoplay => "true", :loop => "true", :muted => "true"}
        %source{:src => "/assets/img/video.mp4", :type => "video/mp4"}

    %section.travel-box
      .container
        .row
          .col-lg-1
          .col-lg-10
            = render 'app/front/widget'
            
    %section#services.services
      .container
        .gallary-header.text-center
          %h2
            Conoce lo que tenemos para ti
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .category-services
        %ul
          %li
            %a{:href => ""}
              %span traslados
          %li
            %a{:href => ""}
              %span circuitos
          %li
            %a{:href => ""}
              %span tours
          %li
            %a{:href => ""}
              %span multidestinos
      .cards-services
        .container
          .row
            .col-md-4.col-sm-6
              .box-card
                .box-image{:style => "background-image: url(/assets/img/bg-1.jpg)"}
                .box-information
                  %h3
                    Antioquia
                    %span.pull-right $201
                  .more-information
                    %p
                      %span
                        10 dias 5 noches
                    %p
                      %span
                        Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    %p
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                  .about-btn
                    %a.link-card{:href => "#"}
                      %button.about-view.packages-btn
                        ver más
            .col-md-4.col-sm-6
              .box-card
                .box-image{:style => "background-image: url(/assets/img/bg-2.jpg)"}
                .box-information
                  %h3
                    Boyaca
                    %span.pull-right $202
                  .more-information
                    %p
                      %span
                        15 dias 2 noches
                    %p
                      %span
                        Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    %p
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                  .btn-hotel.btn-services
                    %a.link-card{:href => "#"}
                      .about-view.packages-btn
                        ver más
            .col-md-4.col-sm-6
              .box-card
                .box-image{:style => "background-image: url(/assets/img/bg-3.jpg)"}
                .box-information
                  %h3
                    Bucaramanga
                    %span.pull-right $203
                  .more-information
                    %p
                      %span
                        12 dias 1 noches
                    %p
                      %span
                        Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    %p
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                  .about-btn
                    %a.link-card{:href => "#"}
                      %button.about-view.packages-btn
                        ver más
            .col-md-4.col-sm-6
              .box-card
                .box-image{:style => "background-image: url(/assets/img/bg-4.jpg)"}
                .box-information
                  %h3
                    Santa Rosa de Cabal
                    %span.pull-right $204
                  .more-information
                    %p
                      %span
                        5 dias 7 noches
                    %p
                      %span
                        Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    %p
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                  .about-btn
                    %a.link-card{:href => "#"}
                      %button.about-view.packages-btn
                        ver más
            .col-md-4.col-sm-6
              .box-card
                .box-image{:style => "background-image: url(/assets/img/bg-5.jpg)"}
                .box-information
                  %h3
                    Barranquilla
                    %span.pull-right $205
                  .more-information
                    %p
                      %span
                        6 dias 5 noches
                    %p
                      %span
                        Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    %p
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                  .about-btn
                    %a.link-card{:href => "#"}
                      %button.about-view.packages-btn
                        ver más
            .col-md-4.col-sm-6
              .box-card
                .box-image{:style => "background-image: url(/assets/img/bg-6.jpg)"}
                .box-information
                  %h3
                    Santander
                    %span.pull-right $206
                  .more-information
                    %p
                      %span
                        3 dias 3 noches
                    %p
                      %span
                        Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    %p
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                  .about-btn
                    %a.link-card{:href => "#"}
                      %button.about-view.packages-btn
                        ver más

    %section#tours.tours
      .jumbotron.jumbotron-fluid.jb-bg-tours{:style => "background-image: url(/assets/img/bg-tours.jpg)"}
        .mask-tours
          .container
            .box-tours
              .info-tours
                %h3.display-4.text-center Expertos en traslados ejecutivos
                %h3.display-4.text-center Y turismo receptivo
                .about-btn
                  %button.about-view.discount-offer-btn
                    Conocer más

    #top-tours.top-tours
      .container
        .gallary-header.text-center
          %h2
            Tours Destacados
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .cards-top-tours
        .container
          .row
            .col-md-4.col-sm-6
              .box-card
                .box-image{:style => "background-image: url(/assets/img/bg-1.jpg)"}
                .box-information
                  %h3
                    Bucaramanga Family Tour
                  .more-information
                    %p
                      %span
                    %p
                      %span
                        Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    %p
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                  .about-btn
                    %a.link-card{:href => "#"}
                      %button.about-view.packages-btn
                        ver más
            .col-md-4.col-sm-6
              .box-card
                .box-image{:style => "background-image: url(/assets/img/bg-2.jpg)"}
                .box-information
                  %h3
                    Cartagena Family Tour
                  .more-information
                    %p
                      %span
                    %p
                      %span
                        Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    %p
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                  .about-btn
                    %a.link-card{:href => "#"}
                      %button.about-view.packages-btn
                        ver más
            .col-md-4.col-sm-6
              .box-card
                .box-image{:style => "background-image: url(/assets/img/bg-3.jpg)"}
                .box-information
                  %h3
                    Colombia Family Tour
                  .more-information
                    %p
                      %span
                    %p
                      %span
                        Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    %p
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                      %i.fa.fa-star.fa-star-custom
                  .about-btn
                    %a.link-card{:href => "#"}
                      %button.about-view.packages-btn
                        ver más

    %section#tips-services.tips-services
      .container
        .gallary-header.text-center
          %h2
            ¿Por qué escogernos?
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .box-tips
        .container
          .row
            .col-lg-3
              .tips
                .box-circle.circle-yellow
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/car.svg", :width => "60px"}/
                %h2 Te recibimos y trasladamos
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.
            .col-lg-3
              .tips
                .box-circle.circle-green
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/airplane.svg", :width => "50px"}/
                %h2 Destinos de ensueño
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.
            .col-lg-3
              .tips
                .box-circle.circle-orange
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/face.svg", :width => "40px"}/
                %h2 Atención especializada
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.
            .col-lg-3
              .tips
                .box-circle.circle-red
                  .circle-border
                    %img{:alt => "", :src => "/assets/img/palm.svg", :width => "40px"}/
                %h2 Expertos en turismo
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio.

    %footer.footer-copyright
      = render 'app/front/footer'


    :javascript
      $(document).ready(function(){
        document.getElementById("my-video").play();
        $('[data-toggle="datepicker"]').datepicker();
        $('#destinations-box-one').selectize({});
        $('#destinations-box-two').selectize({});
      });
