!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'
  %body.body-login
    #login-front.login-front
      %form.form-signin
        .text-center.mb-4
          %img.mb-4{:alt => "", :src => "/assets/img/login/logo.svg", :width => "150px"}/
          %hr/
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#1"} Sign in
          %li
            %a{"data-toggle" => "tab", :href => "#2"} Register
          %li
            %a{"data-toggle" => "tab", :href => "#3"} Recovery
        .tab-content
          #1.tab-pane.active
            = render 'app/front/login/sign-in'
          #2.tab-pane
            = render 'app/front/login/register'
          #3.tab-pane
            = render 'app/front/login/recovery'
          .copyright-login
            %p.mt-5.mb-3.text-muted.text-center Receptivo Colombia © | 2017-2018
          .go-back-home
            %span 
              %i.icon-home.icons
                Ir a Home



