!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'

  %body{style:"padding-top:120px;"}
    %header
      = render 'app/front/navbar'


    %section.reservation-transfers#reservation-transfers
      .container
        .gallary-header.text-center
          %h2
            Reservación 
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .box-reservation
        .container
          .row
            .col-lg-8
              %h3 Datos Personales
              .row
                .col-lg-6
                  .form-group.form-custom
                    %label{:for => "name"} Nombre
                    %input#name.form-control{:type => "text", :placeholder => "Enter your name"}/
                  .form-group
                    %label{:for => "phone"} Teléfono
                    %input#phone.form-control{:type => "number", :placeholder => "Enter your phone"}/
                .col-lg-6
                  .form-group.form-custom
                    %label{:for => "email"} Correo electrónico
                    %input#email.form-control{:type => "email", :placeholder => "enter your email"}/
                  .form-group
                    %label{:for => "dni"} Identificación
                    %input#dni.form-control{:type => "number", :placeholder => "Enter your identification"}/
              %hr
              %h3 Datos de Reserva
              .row
                .col-lg-6
                  .form-group.form-custom.form-reservation
                    %label Seleccion una opción
                    .trip-circle
                      .single-trip-circle
                        %input#radio_01{:name => "radio", :type => "radio"}/
                        %label{:for => "radio_01"}
                          %span.round-boarder>
                            %span.round-boarder1
                          Solo ida
                      .single-trip-circle
                        %input#radio_02{:name => "radio", :type => "radio"}/
                        %label{:for => "radio_02"}
                          %span.round-boarder
                            %span.round-boarder1
                          Ida y vuelta
                  .form-group
                    -#%label{:for => "destinations-booking_a"} Seleccione Origen
                    -#%select#destinations-booking_a.custom-input.form-control{placeholder: 'Enter your origin'}
                      = render 'app/front/stack-destinations'
                    %label{:for => "origin_transfer_booking"} Seleccione Origen
                    %input.google-input.form-control{id: 'origin_transfer_booking', name: 'origin_transfer_booking', :placeholder => "Enter the origin"}
                  .form-group
                    %label{:for => ""}  ¿Cuándo sale tu vuelo?
                    %input.form-control.custom-input{"data-toggle" => "datepicker", :name => "check_in", :placeholder => "Fecha", :type => "date"}/       
                .col-lg-6
                  .form-group.form-custom.form-reservation
                    %label Seleccion una opción
                    .trip-circle
                      .single-trip-circle
                        %input#radio_03{:name => "radio", :type => "radio"}/
                        %label{:for => "radio_03"}
                          %span.round-boarder
                            %span.round-boarder1
                          Desde el Aeropuerto
                      .single-trip-circle
                        %input#radio_04{:name => "radio", :type => "radio"}/
                        %label{:for => "radio_04"}
                          %span.round-boarder
                            %span.round-boarder1
                          Al aeropuerto
                  .form-group
                    %label{:for => "arrival_transfer_booking"} Seleccione Destino
                    %input.google-input.form-control{id: 'arrival_transfer_booking', name: 'arrival_transfer_booking', :placeholder => "Enter the destination"}
                  .form-group
                    %label{:for => ""}  ¿Cuándo llega tu vuelo?
                    %input.form-control.custom-input{"data-toggle" => "datepicker", :name => "check_in", :placeholder => "Enter the arrival date", :type => "date"}/
                .col-lg-12
                  .row
                    .col-lg-4
                      .form-group
                        %label{:for => "adults"} Cantidad adultos
                        %input#adults.form-control{:type => "number", :placeholder => "Enter number of children"}/
                    .col-lg-4
                      .form-group
                        %label{:for => "children"} Cantidad niños
                        %input#children.form-control{:type => "number", :placeholder => "Enter number of adults"}/
                    .col-lg-4
                      .form-group
                        %label{:for => "luggage"} Cantidad equipaje
                        %input#luggage.form-control{:type => "number",:placeholder => "Enter amount of luggage"}/
            .col-lg-4
              %h3 Resumen
              .row
                .col-lg-12
                  %ul.list-group.mb-3
                    %li.list-group-item.d-flex.justify-content-between.lh-condensed
                      %div
                        %h6.my-0 Responsable
                        %small.text-muted Gabriel Gómez
                      -#%span.text-muted $5
                    %li.list-group-item.d-flex.justify-content-between.lh-condensed
                      %div
                        %h6.my-0 Origen
                        %small.text-muted Aeropuerto El Dorado
                      -#%span.text-muted $12
                    %li.list-group-item.d-flex.justify-content-between.lh-condensed
                      %div
                        %h6.my-0 Destino
                        %small.text-muted Hotel Colombia
                    %li.list-group-item.d-flex.justify-content-between.lh-condensed
                      %div
                        %h6.my-0 Tipo de Vehiculo
                        %small.text-muted Van Tipo H1
                      -#%span.text-muted $5
                    %li.list-group-item.d-flex.justify-content-between.bg-light
                      .row
                        .col-lg-4
                          .text-muted
                            %h6.my-0 Adultos
                            %small 2
                        .col-lg-4
                          .text-muted
                            %h6.my-0 Niños
                            %small 1
                        .col-lg-4
                          .text-muted
                            %h6.my-0 Equipaje
                            %small 2  
                    %li.list-group-item.d-flex.justify-content-between.lh-condensed
                      %div
                        %h6.my-0 Tipo de Moneda
                        %small.text-muted COP
                      -#%span.text-muted $5                     
                    %li.list-group-item.d-flex.justify-content-between
                      %span Total (COP)
                      %strong $ 100
                  .box-btn-payment
                    .about-btn.travel-mrt-0
                      %button.about-view.travel-btn.btn-payment
                        pagar

            .col-lg-8
              .box-btn-reservation
                .about-btn.travel-mrt-0
                  %button.about-view.travel-btn.btn-reservation
                    continuar


    %footer.footer-copyright
      = render 'app/front/footer'
    %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}

    :javascript
      $('.navigation-front').removeClass('background-hide');
      $('.navigation-front').addClass('background-show');
      $(document).ready(function(){
        $('[data-toggle="datepicker"]').datepicker();
        $('#destinations-booking_a').selectize({});
        $('#destinations-booking_b').selectize({});
      });
