!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'

  %body{style:"padding-top:0px;"}
    %header
      = render 'app/front/navbar'

    %section#plan.plan
      .box-plan{:style => "background-image: url(/assets/img/bg-3.jpg)"}
        .container
          .box-title
            %h1 Buseta


    %section#plan-description.plan-description
      .container
        .gallary-header.text-center
          %h2
            Descripción
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .box-information
        .container
          .category-plan
            .col-lg-12
              .category-plan
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#1"}
                      %span Descripción
                  %li
                    %a{"data-toggle" => "tab", :href => "#2"}
                      %span Incluye
                  %li
                    %a{"data-toggle" => "tab", :href => "#3"}
                      %span Condiciones
                .tab-content
                  #1.tab-pane.active
                    %h3 Descripción
                    %p.plan-text 
                      Descripción, lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?
                  #2.tab-pane
                    %h3 Incluye
                    %p.plan-text 
                      Incluye, lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?
                  #3.tab-pane
                    %h3 Condiciones
                    %p.plan-text 
                      Condiciones, ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perferendis saepe cum rem esse odit. Velit pariatur sit id natus dolor. Fugit dignissimos aut maxime nobis omnis facilis obcaecati magnam?

    %section#plan-galery.plan-galery
      .container
        .gallary-header.text-center
          %h2
            Galería
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .box-slider-galery
        .container
          .carrusel-galery
            .galery
              .galery__item
                %img{src:"/assets/img/bg-1.jpg", class:"img-responsive"}
              .galery__item
                %img{src:"/assets/img/bg-2.jpg", class:"img-responsive"}
              .galery__item
                %img{src:"/assets/img/bg-3.jpg", class:"img-responsive"}
              .galery__item
                %img{src:"/assets/img/bg-4.jpg", class:"img-responsive"}
              .galery__item
                %img{src:"/assets/img/bg-5.jpg", class:"img-responsive"}
              .galery__item
                %img{src:"/assets/img/bg-6.jpg", class:"img-responsive"}
              .galery__item
                %img{src:"/assets/img/bg-7.jpg", class:"img-responsive"}
              .galery__item
                %img{src:"/assets/img/bg-8.jpg", class:"img-responsive"}


    %section#reservation.plan-reservation
      .container
        .gallary-header.text-center
          %h2
            Reserva
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .box-billing
        .container
          .col-lg-6
            %form{:action => "/action_page.php"}
              .form-group
                %label{:for => "email"} Nombre
                %input#email.form-control{:type => "email"}/
              .form-group
                %label{:for => "email"} Tipo de Nacionalidad
                %select.form-control
                  %option{:value => "default"} Tipo de nacionalidad
                  %option{:value => "1"} Venezolana
                  %option{:value => "2"} Colombiana
              .col-lg-6{style:"padding-left: 0 !important;"}
                .form-group
                  %label{:for => "email"} Género
                  %select.form-control
                    %option{:value => "default"} Género
                    %option{:value => "1"} Masculino
                    %option{:value => "2"} Femenino
              .col-lg-6{style:"padding-right: 0 !important;"}
                .form-group
                  %label{:for => "pwd"} Teléfono
                  %input#pwd.form-control{:type => "password"}/
          .col-lg-6
            .form-group
              %label{:for => "email"} Apellido
              %input#email.form-control{:type => "email"}/
            .form-group
              %label{:for => "email"} Número de Identifación
              %input#email.form-control{:type => "email"}/
            .form-group
              %label{:for => "pwd"} E-mail
              %input#pwd.form-control{:type => "password"}/
          .col-lg-12
            .box-billing-btn
              = link_to show_transfers_path do
                %button.about-view.packages-btn.btn-billing 
                  reservar

    %section#plan-featured-products.plan-featured-products
      .container
        .gallary-header.text-center
          %h2
            Productos Destacados
          %p
            Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
      .box-slider-featured-products
        .container
          .carrusel-product
            .product
              .product__item
                %img{src:"/assets/img/bg-1.jpg", class:"img-responsive"}
              .product__item
                %img{src:"/assets/img/bg-2.jpg", class:"img-responsive"}
              .product__item
                %img{src:"/assets/img/bg-3.jpg", class:"img-responsive"}
              .product__item
                %img{src:"/assets/img/bg-4.jpg", class:"img-responsive"}
              .product__item
                %img{src:"/assets/img/bg-5.jpg", class:"img-responsive"}
              .product__item
                %img{src:"/assets/img/bg-6.jpg", class:"img-responsive"}


    %footer.footer-copyright
      = render 'app/front/footer'
