!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'
  %body
    .loader
      = render 'app/front/loader/loader'
    .payment
      = render 'app/front/form_payment'


:javascript
  //loader 
  $(window).load(function () {
  setTimeout(function () {
    $('.loader').fadeOut(500, function () {
      $(this).remove();
    });
    $('body').css('overflow-y', 'auto');
  }, 1000);
  });

  // Form submit function.
  function submitform(){
    console.log('Submit form')
    document.getElementById("form1").submit();
  }
  submitform();