!!!
%html.no-js{:lang => "en"}
  %head
    = render 'app/layouts/head'
  %body
    .loader
      = render 'app/front/loader/loader'
    .payment
      %form#form1{action: "https://www.enlineapagos.com/secure/gangway/index.do", method: "post", name: "form1"}
        %input#usuario{name: "usuario", type: "hidden", value: "RECEPTIVO"}/
        %input#llavemd5{name: "llavemd5", type: "hidden", value: "31469c35dfdb7c708d29a1cfe66f6aa9lahs85Xpa12572602401898393042587850772"}/
        %input#referencia{name: "referencia", type: "hidden", value: @invoice.token}/
        %input#moneda{name: "moneda", type: "hidden", value: @invoice.currency.upcase}/
        %input#valor{name: "valor", type: "hidden", value: @invoice.amount}
        %input#iva{name: "iva", type: "hidden", value: '0'}/
        %input#baseiva{name: "baseiva", type: "hidden", value: '0'}/
        %input#descripcion{name: "descripcion", type: "hidden", value: "Pago de reservacion #{@reservationable.title['es']}"}/
        - if Rails.env.development?
          %input#urlback{name: "urlback", type: "hidden", value: "https://receptivocolombia.com/es/usd/thanks"}/
        - else
          %input#urlback{name: "urlback", type: "hidden", value: "https://receptivocolombia.com/es/usd/thanks"}/
        %input#documentonumero{name: "documentonumero", type: "hidden", value: @user.dni}/
        %input#nombres{name: "nombres", type: "hidden", value: @user.name.split(' ').first}/
        %input#apellidos{name: "apellidos", type: "hidden", value: @user.name.split(' ').last}/
        %input#email{name: "email", type: "hidden", value: @user.email}/
        %input#direccion{name: "direccion", type: "hidden", value: @invoice.address}/
        %input#telefono{name: "telefono", type: "hidden", value: @user.phone}/

:javascript
  //loader
  $(window).on('load', function(){

    setTimeout(function () {
      $('.loader').fadeOut(500, function () {
        $(this).remove();
      });
      $('body').css('overflow-y', 'auto');
    }, 1000);

  });

  // Form submit function.
  function submitform(){
    document.getElementById("form1").submit();
  }
  submitform();
